openapi: 3.0.1
info:
  title: pb/sr.proto
  version: version not set
servers:
- url: https://api.bopmatic.com/
tags:
- name: ServiceRunner
paths:
  /ServiceRunner/DeletePackage:
    post:
      operationId: DeletePackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePackageRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePackageReply'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - ServiceRunner
      x-codegen-request-body-name: body
  /ServiceRunner/DeployPackage:
    post:
      operationId: DeployPackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployPackageRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployPackageReply'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - ServiceRunner
      x-codegen-request-body-name: body
  /ServiceRunner/DescribePackage:
    post:
      operationId: DescribePackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribePackageRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePackageReply'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - ServiceRunner
      x-codegen-request-body-name: body
  /ServiceRunner/ListPackages:
    post:
      operationId: ListPackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPackagesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPackagesReply'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - ServiceRunner
      x-codegen-request-body-name: body
components:
  schemas:
    DeletePackageReply:
      example: {}
      properties:
        state:
          $ref: '#/components/schemas/PackageState'
      type: object
    DeletePackageRequest:
      example:
        packageId: packageId
        projectName: projectName
      properties:
        projectName:
          type: string
        packageId:
          type: string
      type: object
    DeployPackageReply:
      example: {}
      properties:
        state:
          $ref: '#/components/schemas/PackageState'
      type: object
    DeployPackageRequest:
      example:
        desc:
          packageTarballData: packageTarballData
          packageXsum: packageXsum
          packageId: packageId
          packageName: packageName
          projectName: projectName
      properties:
        desc:
          $ref: '#/components/schemas/PackageDescription'
      type: object
    DescribePackageReply:
      example:
        rpcEndpoints:
        - rpcEndpoints
        - rpcEndpoints
        desc:
          packageTarballData: packageTarballData
          packageXsum: packageXsum
          packageId: packageId
          packageName: packageName
          projectName: projectName
        siteEndpoint: siteEndpoint
      properties:
        desc:
          $ref: '#/components/schemas/PackageDescription'
        packageState:
          $ref: '#/components/schemas/PackageState'
        siteEndpoint:
          title: the following fields are only valid when packageState==PRODUCTION
          type: string
        rpcEndpoints:
          items:
            type: string
          type: array
      type: object
    DescribePackageRequest:
      example:
        packageId: packageId
        projectName: projectName
      properties:
        projectName:
          type: string
        packageId:
          type: string
      type: object
    ListPackagesReply:
      example:
        packageIds:
        - packageIds
        - packageIds
      properties:
        packageIds:
          items:
            type: string
          type: array
      type: object
    ListPackagesRequest:
      example:
        projectName: projectName
      properties:
        projectName:
          type: string
      type: object
    PackageDescription:
      example:
        packageTarballData: packageTarballData
        packageXsum: packageXsum
        packageId: packageId
        packageName: packageName
        projectName: projectName
      properties:
        projectName:
          type: string
        packageId:
          type: string
        packageXsum:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
        packageTarballData:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
        packageName:
          type: string
      type: object
    PackageState:
      default: UPLOADING
      enum:
      - UPLOADING
      - UPLOADED
      - VALIDATING
      - INVALID
      - DEPLOYING
      - PRODUCTION
      - DEACTIVATING
      - DELETING
      - UNKNOWN_PKG_STATE
      type: string
    protobufAny:
      additionalProperties:
        type: object
      properties:
        '@type':
          type: string
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
      type: object
x-original-swagger-version: "2.0"
